 html.firststyle {
     background: radial-gradient(black 15%, transparent 16%) 0 0,
         radial-gradient(black 15%, transparent 16%) 8px 8px,
         radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
         radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
     background-color: #282828;
     background-size: 16px 16px;
     color: dimgray;
 }

 .firststyle .mainBody {
     width: 80%;
     padding: 20px;
     margin: 0 auto;
     border-radius: 10px;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     background-color: #e1edeb;
     color: #666666;
     font-family: 'Kurale', Helvetica, sans-serif;
     font-size: 1em;
 }

 .firststyle .resultFieldBlock li.exerciseString:hover {
     background-color: cadetblue;
 }

 .firststyle .markedclass {
     border: 1px solid cadetblue;
 }

 .firststyle .exerciseTextWarning {
     color: brown;
 }

 .firststyle .exerciseImg {
     max-width: -webkit-fill-available;
 }

 * {
     box-sizing: border-box;
 }

 .firststyle #flex-container {
     display: flex;
     height: auto;
     flex-wrap: wrap;
 }

 .firststyle #flex-container>div {
     /* border: 1px solid; */
     width: 20%;
     margin: 0px;
     padding: 0px;
 }

 .firststyle #flex-container>div:nth-of-type(1) {
     height: auto;
     width: 205px;
     padding: 5px;
     font-size: small;

 }

 .firststyle #flex-container>div:nth-of-type(2) {
     height: auto;
     flex-grow: 1;
     padding: 5px;
     text-align: center;
     font-weight: bold;
 }

 .firststyle #flex-container>div:nth-of-type(3) {
     width: 20%;
     height: auto;
     padding: 5px;
     text-align: center;
     font-weight: bolder;
     font-size: xx-large;
 }

 .firststyle #flex-container2 {
     display: flex;
     height: auto;
     flex-wrap: wrap;
 }

 .firststyle #flex-container2>div {
     /* border: 1px solid; */
     width: 20%;
     margin: 0px;
     padding: 0px;
 }

 .firststyle #flex-container2>div:nth-of-type(1) {
     width: 220px;
     padding: 5px;
 }

 .firststyle #flex-container2>div:nth-of-type(2) {
     flex-grow: 1;
     padding: 5px;
 }

 .firststyle #flex-container2>div:nth-of-type(3) {
     width: 350px;
     padding: 5px;
     font-size: small;
 }

 html.secondstyle {
     background: radial-gradient(black 15%, transparent 16%) 0 0,
         radial-gradient(black 15%, transparent 16%) 8px 8px,
         radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
         radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
     background-color: #282828;
     background-size: 16px 16px;
     color: dimgray;
 }

 .secondstyle .mainBody {
     width: 80%;
     padding: 20px;
     margin: 0 auto;
     border-radius: 10px;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     background-color: #e1edeb;
     color: #666666;
     font-family: 'Kurale', Helvetica, sans-serif;
     font-size: 1em;
 }

 .secondstyle .resultFieldBlock li.exerciseString:hover {
     background-color: cadetblue;
 }

 .secondstyle .markedclass {
     border: 1px solid cadetblue;
 }

 .secondstyle .exerciseTextWarning {
     color: brown;
 }

 .secondstyle .exerciseImg {
     max-width: -webkit-fill-available;
 }

 * {
     box-sizing: border-box;
 }

 .secondstyle #flex-container {
     display: flex;
     height: auto;
     flex-wrap: wrap;
 }

 .secondstyle #flex-container>div {
     /* border: 1px solid; */
     width: 20%;
     margin: 0px;
     padding: 0px;
 }

 .secondstyle #flex-container>div:nth-of-type(1) {
     height: auto;
     width: 205px;
     padding: 5px;
     font-size: small;
 }

 .secondstyle #flex-container>div:nth-of-type(2) {
     height: auto;
     flex-grow: 1;
     padding: 5px;
     text-align: center;
     font-weight: bolder;
 }

 .secondstyle #flex-container>div:nth-of-type(3) {
     width: 20%;
     height: auto;
     padding: 5px;
     text-align: center;
     font-weight: bolder;
     font-size: xx-large;
 }

 .secondstyle #flex-container2 {
     display: flex;
     height: auto;
     flex-wrap: wrap;
 }

 .secondstyle #flex-container2>div {
     /* border: 1px solid; */
     width: 20%;
     margin: 0px;
     padding: 0px;
 }

 .secondstyle #flex-container2>div:nth-of-type(1) {
     width: 220px;
     padding: 5px;
 }

 .secondstyle #flex-container2>div:nth-of-type(2) {
     flex-grow: 1;
     padding: 5px;
 }

 .secondstyle #flex-container2>div:nth-of-type(3) {
     width: 350px;
     padding: 5px;
     font-size: small;
 }



 html.thirdstyle {
     background: radial-gradient(black 15%, transparent 16%) 0 0,
         radial-gradient(black 15%, transparent 16%) 8px 8px,
         radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
         radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
     background-color: #282828;
     background-size: 16px 16px;
     color: dimgray;
 }

 .thirdstyle .mainBody {
     width: 80%;
     padding: 20px;
     margin: 0 auto;
     border-radius: 10px;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     background-color: #e1edeb;
     color: #666666;
     font-family: 'Kurale', Helvetica, sans-serif;
     font-size: 1em;
 }

 .thirdstyle .resultFieldBlock li.exerciseString:hover {
     background-color: cadetblue;
 }

 .thirdstyle .markedclass {
     border: 1px solid cadetblue;
 }

 .thirdstyle .exerciseTextWarning {
     color: brown;
 }

 .thirdstyle .exerciseImg {
     max-width: -webkit-fill-available;
 }

 * {
     box-sizing: border-box;
 }

 .thirdstyle #flex-container {
     display: flex;
     height: auto;
     flex-wrap: wrap;
 }

 .thirdstyle #flex-container>div {
     /* border: 1px solid; */
     width: 20%;
     margin: 0px;
     padding: 0px;
 }

 .thirdstyle #flex-container>div:nth-of-type(1) {
     height: auto;
     width: 205px;
     padding: 5px;
     font-size: small;
 }

 .thirdstyle #flex-container>div:nth-of-type(2) {
     height: auto;
     flex-grow: 1;
     padding: 5px;
     text-align: center;
     font-weight: lighter;
 }

 .thirdstyle #flex-container>div:nth-of-type(3) {
     width: 20%;
     height: auto;
     padding: 5px;
     text-align: center;
     font-weight: bolder;
     font-size: xx-large;
 }

 .thirdstyle #flex-container2 {
     display: flex;
     height: auto;
     flex-wrap: wrap;
 }

 .thirdstyle #flex-container2>div {
     /* border: 1px solid; */
     width: 20%;
     margin: 0px;
     padding: 0px;
 }

 .thirdstyle #flex-container2>div:nth-of-type(1) {
     width: 220px;
     padding: 5px;
 }

 .thirdstyle #flex-container2>div:nth-of-type(2) {
     flex-grow: 1;
     padding: 5px;
 }

 .thirdstyle #flex-container2>div:nth-of-type(3) {
     width: 350px;
     padding: 5px;
     font-size: small;
 }